@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* GT-America-Mono Regular */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/GT-America-Mono-Regular.woff') format('woff');
  font-weight: normal; /* 400 */
  font-style: normal;
}

/* GT-America-Mono Black */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/GT-America-Mono-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.custom-cursor {
  cursor: url('/snowflake.png'), auto;
}

body {
  cursor: url('/snowflake.png'), auto;
  margin: 0;
  padding: 0;
  background-color: black;
}