@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* GT-America-Mono Regular */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/GT-America-Mono-Regular.woff') format('woff');
  font-weight: normal; /* 400 */
  font-style: normal;
}

/* GT-America-Mono Black */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/GT-America-Mono-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.custom-cursor {
  cursor: url('/snowflake.png'), auto;
}

body {
  cursor: url('/snowflake.png'), auto;
  margin: 0;
  padding: 0;
  background-color: black;
}

/* App.css oder eine andere CSS-Datei */
.nav-link {
  position: relative;
  overflow: hidden; /* Wichtig für die Animation der Unterstreichung */
  transition: color 0.3s; /* Glättet die Farbänderung beim Hovern */
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #acacac; /* Farbe der Unterstreichung */
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-link:hover {
  color: #acacac; /* Hellerer Farbton beim Hovern */
}
