@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* GT-America-Mono Regular */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/fonts/GT-America-Mono-Regular.tff') format('tff');
  font-weight: normal; /* 400 */
  font-style: normal;
}

/* GT-America-Mono Bold */
@font-face {
  font-family: 'GT-America-Mono';
  src: url('/fonts/GT-America-Mono-Bold.tff') format('tff');
  font-weight: bold; /* 700 */
  font-style: normal;
}

.custom-cursor {
  cursor: url('/snowflake.png'), auto;
}

body {
  cursor: url('/snowflake.png'), auto;
  margin: 0;
  padding: 0;
  background-color: black;
}